<!DOCTYPE html>
<html>
<head>
    <title>KMC - Keyboard Multiplayer Challenge</title>
    <link rel="stylesheet" href="/resources/custom.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="back">
    <div class="div-center main-div">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <input class="form-control input-lg" id="usernameInput" placeholder="Enter your username"
                           autocomplete="off"/>
                </div>
            </div>

            <div class="row" style="margin-top:15px">
                <div class="col-md-12">
                    <img id="enterGame" style="max-width:25%;margin-left:35%;cursor: pointer;"
                         src="/images/keyboard.png">
                </div>
            </div>
        </div>
        </span>
    </div>
</div>
<script src="/scripts/socket.io.js"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script src="/scripts/bootstrap.js"></script>
<script src="/scripts/game.js"></script>
</body>
</html>