<div class="div-center rooms-div">
    <div class="content">
        <div class="row">
            <div class="col-md-9">
                <h1>Rooms</h1>
            </div>
            <div class="col-md-3">
                <button style="float:right" type="button" class="btn btn-primary">Create Room</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group" id="roomListUl">
                    <li class="list-group-item">Example element</li>
                </ul>
            </div>
        </div>
    </div>
    </span>
</div>