<div class="div-center rooms-div">
    <div class="content">
        <div class="row">
            <div class="col-md-7">
                <h1>Rooms</h1>
            </div>

            <div class="col-md-5">
                <button style="float:right" type="button" class="btn btn-primary" onclick="$('#createRoomModal').modal('show')">Create Room</button>
                <button style="float:right; margin-right:4px" type="button" class="btn btn-secondary" onclick="refreshRoomListBtn();">Refresh</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group" id="roomListUl">
                    <li class="list-group-item">Example element</li>
                </ul>
            </div>
        </div>
    </div>
    </span>
</div>

<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create room</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="createRoomName">Room Name</label>
                            <input type="text" id="createRoomName" class="form-control"  placeholder="Enter Room Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="createPassword">Room Password</label>
                            <input type="text" id="createPassword" class="form-control" placeholder="Leave blank for public">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="createRoom()" type="button" class="btn btn-primary">Create Room</button>
            </div>
        </div>
    </div>
</div>