<div class="div-center rooms-div">
    <div class="content">
        <div class="row">
            <div class="col-md-9">
                <h1>Rooms</h1>
            </div>
            <div class="col-md-3">
                <button style="float:right" type="button" class="btn btn-primary" onclick="$('#createRoomModal').modal('show')">Create Room</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group" id="roomListUl">
                    <li class="list-group-item">Example element</li>
                </ul>
            </div>
        </div>
    </div>
    </span>
</div>

<div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create room</h5>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Create Room</button>
            </div>
        </div>
    </div>
</div>