.back {
    background: #e2e2e2;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.div-center {
    width: 350px;
    height: 350px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
}

.div-center.rooms-div {
    width: 45%;
}

.div-center.rooms-div .content {
    vertical-align: initial;
}

.div-center.rooms-chat-div {
    width: 20%;
    left: 70%;
}

.div-center.rooms-chat-div .content {
    vertical-align: initial;
}

div.content {
    display: table-cell;
    vertical-align: middle;
}

.back {
    background: linear-gradient(-45deg, #567eec, #7671ff, #23a6d5, #30eebf);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

.list-group-item:hover {
    z-index: 2;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.chatbox {
    overflow: scroll;
    background-color: lightblue;
    width: 100%;
    min-height: 100px;
    max-height: 150px;
}